body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5f6972;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title{
  font-family: 'Verdana';
  font-size: 3.5rem;
  margin: 0;
  padding: 1rem 0;
  color: #8b97d6;
  background-color: #f0f0f0;
  text-align: center;
}
 
#intro{
  margin: 1rem 2rem;
  text-align: center;
}

/*BUTTON*/
#buttonWrapper{
  margin-top: 2rem;
  text-align: center;
}
#beginButton{
  padding: 1rem 2rem;
  background-color: #8c95ca;
  color: #f7f7f7;
  font-size: 1.5rem;
  font-weight: bold;
  border-style: solid;
  border-color: #5d689c;
  border-radius: 1rem;
}
